<!DOCTYPE html>
<html>
<head>
	<title>JSONP</title>
</head>
<body>
	
	<div class="sodas">
		<a href="#" data-page="pepsi">Pepsi</a>
		<a href="#" data-page="cocacola">Coke</a>
	</div>

	<div id="results"></div>

<script type="text/handlebars" id="fb-page-template">
	<img src="{{cover.source}}">
	<h1>{{name}}</h1>
	<p>Likes: {{likes}}</p>
	{{#if description}}
		<p>{{description}}</p>
	{{else}}
		<p>No description available.</p>
	{{/if}}
</script>

<script src="jquery-2.1.1.js"></script>
<script src="handlebars-v2.0.0.js"></script>
<script src="main.js"></script>

</body>
</html>